.contacts {
    background-color: $companyMainColor;

    &__inner {
        max-width: 440px;
        margin: 0 auto;
        padding: 68px 0;
        text-align: center;
        color: $white;

        span {
            letter-spacing: 4px;
            text-transform: uppercase;
            font-size: 15px;
        }

        p {
            margin: 45px 0;
            font-size: 32px;
        }

        form {
            @include fl-c-c;
            align-items: start;

            label {
                display: none;
            }

            .email-wrap {
                display: flex;
                flex-direction: column;
                max-width: 300px;
                width: 100%;
            }

            input[type="email"] {
                display: block;

                padding: 15px 10px;
                border-radius: 5px;
                border: none;
                background-repeat: no-repeat;
                background-position: right 10px center;
                cursor: pointer;

                &::placeholder {
                    color: $mainTextColor;
                }

                &:focus {
                    color: $mainBoldTextColor;
                    outline: none;
                }

                &:invalid {
                    color: $accentColor;
                }
            }

            #email.error {
                border: 2px solid $accentColor;
            }

            .btn {
                @include btn($accentColor, $accentColor, $white);
                padding: 15px 28px;
                max-width: 130px;


            }

        }
    }

    .error-mesage {
        margin-top: -3px;
        max-width: 300px;
        width: 100%;
        background-color: $accentColor;
        border-radius: 0 0 5px 5px;

        p {
            font-size: 10px;
            font-style: italic;
            margin: 0;
            padding: 10px;
            text-align: start;
        }
    }

}

@media screen and (max-width: 600px) {
    .contacts__inner {
        p {
            margin: 20px 0;
            font-size: 24px;
        }

        form {
            flex-direction: column;
            align-items: center;
            margin-top: 40px;

            .btn {
                margin-top: 10px;
                max-width: 300px;
                width: 100%;
            }
        }

    }
}

@media(hover: hover) and (pointer: fine) {
    .btn:hover {
        transition: .2s;
        background-color: $white;
        color: $accentColor;
        cursor: pointer;
    }
}