.download__inner {
    padding-top: 160px;

    .download__cards {
        @include fl-c-c;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 130px auto;
        max-width: 920px;
        width: 100%;

        .card {
            max-width: 283px;
            width: 100%;
            margin: 0 5px;
            ;
            border-radius: 5px;
            box-shadow: 0px 10px 40px 0px $hoverCards;
            text-align: center;

            &__logo {
                display: block;
                margin: 50px auto 32px;
            }

            h6 {
                @extend %rubik-medium;
                font-size: 20px;
                color: $mainBoldTextColor;
            }

            span {
                font-size: 15px;
                display: block;
                margin-top: 16px;
            }

            &__dots {
                margin-top: 40px;
            }

            .btn {

                @include btn($companyMainColor, $companyMainColor, $white);
                padding: 16px 22px;
                margin: 16px auto;

                &:hover {
                    cursor: pointer;
                    background-color: $white;
                    color: $mainBoldTextColor;
                }
            }

            .btn-m {
                max-width: 240px;
            }

            &:first-child {
                margin-top: -160px;
            }

            &:nth-child(2) {
                margin-top: -80px;
            }


        }
    }
}

@media screen and(max-width:1080px) {
    .download__inner {
        .download__cards {
            margin: 50px auto;

            .card {

                &:first-child,
                &:nth-child(2),
                &:last-child {
                    margin-top: 50px;
                }
            }
        }
    }

}

@media screen and(max-width: 600px) {
    .download__inner {
        padding: 0;

        .title {
            margin: 6px 0;
        }

        .download__cards {
            margin: 0 auto;
            align-items: center;
            justify-content: center;

            .card {

                &:first-child,
                &:nth-child(2),
                &:last-child {
                    margin-top: 50px;
                }
            }
        }
    }
   
}

