.firstScreen {
    overflow: hidden;

    &__inner {
        padding: 25px 0;
        margin: 0 30px;
    }

}

.content {
    @include fl-c-c;

    &__img {
        position: relative;
        max-width: 50%;

        img {
            display: block;
            margin-left: 20px;
            max-width: 580px;
            width: 100%;
            height: auto;
        }

        .contentImg__rectangle {
            position: absolute;
            top: 7rem;
            right: -165px;
            z-index: -1;
            display: block;
            max-width: 32rem;
            width: 100%;
            max-height: 350px;
            height: 100%;
            border-radius: 180px 0 0 180px;
            background-color: #7d8de3;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        padding: 115px 0;

        h2 {
            font-size: 50px;
            color: $mainBoldTextColor;
            line-height: initial;
        }

        p {
            margin: 10px 0 38px 0;
            line-height: 25px;
            max-width: 480px;
        }

        .btn:first-child {
            @include btn($companyMainColor, $companyMainColor, $white);
            padding: 16px 22px;

        }

        .btn:last-child {
            @include btn($btnLight, $btnLight, $mainTextColor);
            color: $mainBoldTextColor;
            padding: 16px 22px;
        }

        &-btn {
            @include fl-c-c;
            width: 340px;
        }
    }
}

.btn-m {
    max-width: 175px;
    letter-spacing: 1px;
    box-shadow: 0px 5px 10px 0px $mainTextColor;

}

@media screen and(max-width:600px) {
    .firstScreen__inner {
        flex-direction: column-reverse;

        .content {
            &__text {
                max-width: initial;
                padding: 62px 0;
                text-align: center;

                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }

                p {
                    font-size: 13px;
                    margin: 15px auto;
                    max-width: 289px;
                    letter-spacing: 1px;
                    margin-bottom: 34px;
                }

                &-btn {
                    margin: 0 auto;
                    width: 310px;
                }

                .btn:first-child,
                .btn:last-child {
                    padding: 16px 15px;
                }
            }

            &__img {
                max-width: initial;

                img {
                    margin-left: initial;
                    max-width: 360px;
                    width: initial;
                    height: initial;
                }

                .contentImg__rectangle {
                    top: 4rem;
                    right: -45px;
                    width: 22rem;
                    height: 200px;
                }
            }
        }
    }

    .btn-m {
        max-width: 150px;
    }
}

@media(hover: hover) and (pointer: fine) {
    .btn:first-child {
        &:hover {
            cursor: pointer;
            background-color: $white;
            color: $mainBoldTextColor;
        }
    }

    .btn:last-child {

        &:hover {
            cursor: pointer;
            background-color: $white;
            border-color: $mainTextColor;
        }
    }
}