footer {
    background-color: $mainBoldTextColor;

    .footer__inner {
        @include fl-c-c;
        padding: 30px 0;

        .footer__left {
            max-width: 50%;
            width: 100%;

            .logo {
                img {
                    filter: invert(100%) sepia(94%) saturate(1%) hue-rotate(200deg) brightness(107%) contrast(100%);
                }
            }

            @include fl-c-c;

            .navigation {
                width: 300px;

                li {
                    padding: 0 5px;
                }
            }
        }

        .footer__right {
            @include fl-c-c;
            max-width: 88px;
            width: 100%;

        }
    }

    .copyright {
        @include fl-c-c;
        padding-bottom: 10px;
        color: $white;
        font-size: 12px;
    }
}

@media screen and(max-width:600px) {

    .footer__inner {
        flex-direction: column;

        .footer__left {
            flex-direction: column;

            .navigation__list {
                flex-direction: column;
                justify-content: space-between;
                height: 112px;
                margin-top: 48px;
            }
        }

        .footer__right {
            margin-top: 17px;
        }
    }

}

@media(hover: hover) and (pointer: fine) {
    .footer__right {
        a:hover {
            transition: .2s;
            filter: invert(56%) sepia(47%) saturate(3284%) hue-rotate(325deg) brightness(99%) contrast(98%);

        }
    }
}