h1.logo_SEO {
  font-size: 0;
}

.header__inner {
  margin: 0 30px;
  @include fl-c-c;
  padding: 48px 0;

  .burger-menu {
    display: none;
  }
}

.logo {
  margin-right: 10px;

  img {
    display: block;
    width: 150px;
    height: auto;
  }
}

.navigation {
  max-width: 460px;
  width: 100%;

  .burger-menu {
    display: none
  }

  .logo {
    display: none;
  }

  &__list {
    @include fl-c-c;

    li {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover {
        transition: 0.2s;
        color: $accentColor;
        cursor: pointer;
      }
    }
  }

  .social {
    display: none;
  }

  .btn {
    @include btn($accentColor, $accentColor, $white);
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
      transition: 0.2s;
      @include btn($accentColor, $transparent, $accentColor);
      cursor: pointer;
    }
  }

}

.btn-s {
  max-width: 115px;
}

button.burger-menu span {
  display: block;
  width: 17px;
  height: 3px;
  margin-bottom: 2px;
  background: $mainBoldTextColor;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

#burgerBtn.open span:nth-child(1) {
  transform: rotate(45deg);
}

#burgerBtn.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#burgerBtn.open span:nth-child(3) {
  transform: rotate(-45deg);
  margin-top: -10px;
}

#burgerBtn.open span {
  transition: 1s;
  background-color: $white;
}

.toggleMenu {
  display: none;
}

.logo {
  display: block;

  .filter-white {
    filter: invert(100%) sepia(94%) saturate(1%) hue-rotate(200deg) brightness(107%) contrast(100%);
  }
}

@media screen and (max-width:600px) {
  .header__inner {
    display: flex;
    margin: 0 17px;
    padding: 40px 0;

    .burger-menu {
      display: block;
      padding: initial;
      z-index: 11;
      position: relative;
    }

    .active {
      background-color: $white;
    }

    .navigation {
      max-width: initial;
    }

    .navigation__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px 0;

      li {
        position: relative;
        width: 100%;
        margin: 22px;
        text-align: center;
        font-size: 20px;
        letter-spacing: 3px;
        color: $white;

        &:before {
          position: absolute;
          top: -20px;
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $mainTextColor;
        }

        &:hover {
          transition: 0.2s;
          color: $accentColor;
        }
      }
    }

    #toggleMenu {
      display: none;
      z-index: 10;
      padding: 40px 30px;
      position: fixed;
      left: 0;
      top: 0;
      background: $hoverColor;
      height: 100vh;

      .btn {
        border: 3px;
        @include btn($white, $transparent, $white);

        max-width: initial;
        width: 100%;
        padding: 15px;
        font-size: 16px;
        margin-top: 10px;
        letter-spacing: 4px;

        &:hover {
          transition: 0.2s;
          border-color: $accentColor;
          background-color: $accentColor;
        }
      }
    }

    .header__menu {

      .social {
        display: flex;
        justify-content: center;
        margin-top: 195px;

        a {
          display: block;
          margin: 0 20px;

          .filter-accent {
            &:hover {
              transition: 0.2s;
              filter: invert(56%) sepia(47%) saturate(3284%) hue-rotate(325deg) brightness(99%) contrast(98%);

            }
          }
        }
      }
    }
  }

}